@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: black;
  box-sizing: border-box;
}

#header {
  display: flex;
  position: fixed;
  height: 160px;
  max-width: 100%;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: black;
  z-index: 1;
  margin-top: -10px;
}

#nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 80%;
}

#img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-img {
  max-width: 9vw;
  align-self: center;
}

#nav-links {
  display: flex;
  flex-wrap: no-wrap;
  margin-left: 5vw;
}

.nav-link {
  display: flex-box;
  margin-left: 15vw;
  font-family: Orbitron, sans-serif;
  font-weight: 800;
  font-size: 1em;
  text-decoration: none;
  color: white;
}

.nav-link:hover{
  color: #ff1c6b;
  transition: 0.7s;
}

#spacer {
  height: 150px;
}

#hero-img {
  max-width: 100%;
  margin: 0 auto;
}

#tesla-image {
  z-index: -1;
}
#tesla-image img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

#form{
  display:block;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}

.form-item{
  width: 40%;
  margin: 0 auto;
  display: block;
}

.email{
  padding: 15px 15px 5px 15px;
  border: none;
  color: white;
  background-color: rgba(225,225,225,0);
  border-bottom: 2px solid #fff;
  text-align:center;
}

.email:focus{
  border: none;
  color: white;
  background-color: rgba(225,225,225,0);
  border-bottom: 2px solid #ff1c6b;
  outline:none;
}

.email::placeholder{
  color:#bbb;
  opacity: 0.7;
}

.submit{
  border: 1px solid white;
  color:white;
  outline: none;
  background-color: transparent;
  margin-top: 20px;
  padding: 10px;
  font-size: 0.7rem;
  transition: 1.5s ease-out;
}

.submit:hover{
  cursor:pointer;
  background-color: #ff1c6b;
  border:none;
  transition: 1s ease-in;
}

#vid-wrapper{
  max-width: 50%;
  margin: 0 auto;
  margin-top: 200px;
}
#video-div {
  background-color: #070707;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

#video {
  display: block;
  margin: 0 auto;
  left:0;
  top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* FEATURES */
#features{
  width: 100%;
  height:120vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color:#111;
  margin-top:15vh;
  font-family: Orbitron;
}
#feature-list{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:40%;
}

.feature-item{
  display:flex;
  flex-direction:row;
  width: 80%;
  justify-content: space-between;
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  transition: 0.3s ease-out;
}

.feature-item:hover{
  transform: scale(1.1);
  transition: 0.3s ease-in;
  color: #ff1c6b;
  cursor: pointer;
}
.feature-item h3{
  font-size: 0.8em;
}
#feature-image{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17%;
  margin-left: 7vw;
}
#feature-image img{
  width:100%;
}

/*PRICING*/
#pricing{
  color:white;
  font-family:orbitron;
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content:center;
  background-color:#000;
  margin-top:15vh;
  padding: 15vh 0vh 15vh 0vh;
}

.price-box{
  border: 1px solid white;
  padding: 3vh 8vh 6vh 8vh;
  text-align: center;
  margin-left: 1.5vw;
  transition: .7s ease-out;
}

.price-box:hover{
  transform: scale(1.1);
  transition: .3s ease-in;
  border-color: #fff;
  box-shadow: 0px 0px 15px  #fff;
}

.price-box h2{
  border-bottom: 1px solid white;
  padding-bottom: 2vh;
}

.price-box h1{
  font-size: 2.8rem;
  color: #ff1c6b;
}

.pricing-button{
  border: 1px solid white;
  color:white;
  outline: none;
  background-color: transparent;
  margin-top: 20px;
  padding: 10px;
  font-size: 0.7rem;
  transition: 1.5s ease-out;
  width: 100%;
}

.pricing-button:hover{
  cursor:pointer;
  background-color: #ff1c6b;
  border:none;
  transition: 1s ease-in;
}

@media screen and (max-width: 1000px) {
  #header {
    height: 160px;
  }
  #nav-bar {
    margin-left: 0px;
    flex-wrap: wrap;
    max-width: 80%;
  }

  #img-div {
    width: 20vw;
  }

  #header-img {
    max-width: 80%;
  }

  #nav-links {
    margin-left: 0;
  }

  .nav-link {
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 0.8em;
  }
  #form{
  padding-top: 15px;
}
  #vid-wrapper{
  max-width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}
}

@media screen and (max-width: 600px) {
  #img-div {
    width: 30vw;
  }
  #form{
  padding-top: 70px;
}
}
